
.dc_wrapper {
	.dc-form-container {
		text-align: left;
		width: 100%;
		.dc-form-wrapper-header {
			display: flex;
			justify-content: space-between;
			.left-col {
				width: 42%;
			}
			.right-col {
				width: 42%;
				.dc-clear-filter {
					width: 120px;
					margin-top: 30px;
					a.clear_filter {
						background-color: #a08f6a;
						color: white;
						padding: 8px 12px;
						border-radius: 3px;
						&:hover {
							border: 1px solid #a08f6a;
							background-color: white;
							color: #a08f6a;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	.dc-unit-container {
		.dc-unit-wrapper {
			display: flex;
			justify-content: space-between;
			.left-col {
				width: 42%;
				.dc_unit--meta {
					div {
						font-weight: bold;
					}
				}
			}
			.right-col {
				width: 42%;
			}
		}
	}
}
#dc_search_form {
	.dc-form-row {
		width: 100%;
		display: flex;
		margin-bottom: 8px;
		align-items: center;
		label {
			width: 40%;
			text-align: right;
			padding-right: 10px;
			color: #a08f6a;
		}
		.dc-form-element {
			width: 60%;
			input[type="input"],select {
				border: 1px solid #a08f6a;
				border-radius: 2px;
				-webkit-appearance: none;
				padding: 7px;
				width: 100%;
			}
			input[type="checkbox"] {
				width: auto;
			}
			select { // adds arrows
				margin: 0;
			}
		}
		&.dc-form-check {
			.dc-form-element {
				width: auto;
			}
			label {
				text-align: left;
				width: auto;
				padding-left: 10px;
			}
		}
	}
}
.dc-form-footer {
	display: flex;
	.left-col,
	.right-col {
		width: 50%;
	}
	.left-col {
		.display-count-wrapper {
			width: 130px;
		}
	}
	.right-col {
		.sort-wrapper {
			float: right;
			width: 150px;
		}
	}
}
.dc_search-results {
	.dc_viewing {
		text-align: center;
		font-style: italic;
	}
	.dc_results {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		text-align: left;
		.dc_unit {
			border: 1px solid #FFF;
			color: black;
			height: auto;
			margin-bottom: 1.2em;
			width: 30%;
			.dc_unit-inner {
				padding: 30px;
				.dc_unit--num {

				}
				.dc_unit--meta {
					div {
						font-family: bold;
					}
				}
				.dc_unit--img {
					width: 80%;
					img {
						max-width: 100%;
					}
				}
			}
			.dc_bottom-bar {
				background: none;
				height: 10px;
				width: 100%;
			}
			&:hover {
				border: 1px solid #E8E8E8;
				text-decoration: none;
				.dc_bottom-bar {
					background: linear-gradient(90deg, #A08F6A 0%, #7DB5B0 100%) no-repeat 50% 50% / 100% 100%;
				}
			}
		}
	}
}

.dc_pagination {
	.dc_pagination-inner {
		margin: 0 auto;
		width: 200px;
	}

}

form {
	input[type="checkbox"] {
		margin: 9px;
	}
}