/* =================================================================================
main
================================================================================= */

p {
	font-size: 1em;
}

a {
	outline: none;
}


.last-updated {
	font-style: italic;
	font-size: .7em;
	color: #aaa;
	padding-left: 20px;
}

/***************************/
/* The Modal */
/***************************/
.dc_modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

	/* Modal Content/Box */
	.dc_modal-content {
		background-color: #fefefe;
		margin: 15% auto; /* 15% from the top and centered */
		padding: 20px;
		border: 1px solid #888;
		width: 50%; /* Could be more or less, depending on screen size */
		.modal-form-wrapper {
			margin-top: 21px;
		}
	}

	/* The Close Button */
	.dc_modal_close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.dc_modal_close:hover,
	.dc_modal_close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
}


/***************************/
/* The Modal Form */
/***************************/
[data-name="apt_id"], [data-name="apt_num"] { // hiding part of the acf form
	display: none;
}

/***************************/
/* Tabs */
/***************************/
.dc_tabs {
	.dc_tabs {
		border-bottom: 4px solid #555;
		padding-bottom: 3px;
		a {
			border-radius: 3px;
			border-top: 1px solid #555;
			border-left: 1px solid #555;
			border-right: 1px solid #555;
			color: #333;
			padding: 5px 20px;
			margin-right: 10px;
			text-decoration: none;
			&.active {
				background-color: #333;
				color: white;
			}
		}
	}
	.dc_tab-panels {
		div.panel {
			display: none;	
			&:first-of-type {
				display: block;
			}
		}
	}
}

.container {
	margin: 0;
}


/***************************/
/* The data table */
/***************************/
$headerBackground      : hsl(0, 60%, 75%);
/*** Arrows ***/
$arrowPosition : right 5px center;

/* black */
$unsortedBlack : url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
$sortAscBlack  : url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
$sortDescBlack : url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);

/* white */
$unsortedWhite : url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
$sortAscWhite  : url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
$sortDescWhite : url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
/* automatically choose the correct arrow/text color */
@function set-lightness($a, $b) {
	@if (lightness($headerBackground) >= 50) {
		@return $a;
	} @else {
		@return $b;
	}
}
@mixin unsorted {
	background-image: set-lightness($unsortedBlack, $unsortedWhite);
}
@mixin sortAsc {
	background-image: set-lightness($sortAscBlack, $sortAscWhite);
}
@mixin sortDesc {
	background-image: set-lightness($sortDescBlack, $sortDescWhite);
}
$headerPadding         : 1px 20px 1px 1px;
$overallPadding        : 1px;
$headerAsc             : #ccc; /* darken($headerBackground, 10%); */
$headerDesc            : #e8e8e8; /* desaturate($headerAsc, 5%); */

.unit-grid {
	thead {
		cursor: pointer;
		background: #c9dff0;
		tr th { 
			font-weight: bold;
			padding: 5px 20px;
			padding-left: 5px;
			span { 
				background-repeat: no-repeat;
				background-position: 100% 100%;
			}
			&:hover {
				background: yellow;
			}
			&.headerSortUp, &.headerSortDown {
				background: #acc8dd;
			}
		}
	}
	tbody tr { 
		color: #555;
		td {
			text-align: center;
			padding: 2px;
			&.lalign {
				text-align: left;
			}
			&.primary {
				background-color: #E8E8E8;
			}
		}
	}
		/* style header */
	.tablesorter-header {
		@include unsorted;
		background-repeat: no-repeat;
		background-position: $arrowPosition;
		padding: $headerPadding;
		cursor: pointer;
	}

	.tablesorter-header.sorter-false {
		background-image: none;
		cursor: default;
		padding: $overallPadding;
	}

	.tablesorter-headerAsc {
		background-color: $headerAsc;
		@include sortAsc;
	}

	.tablesorter-headerDesc {
		background-color: $headerDesc;
		@include sortDesc;
	}
}

#api_get_units {
	margin: 1em 0;
	.get-data {
		border: none;
		border-radius: 3px;
		box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
		background-color: #4F8AFF;
		color: white;
		cursor: pointer;
		font-weight: bold;
		margin: 0 1px 1px 0;
		padding: 8px 13px;
		&:hover {
			box-shadow: none;
			margin: 1px 0 0 1px;
		}
		&:disabled {
			background-color: #CCC;
			box-shadow: none;
			margin: 1px 0 0 1px;
			cursor: not-allowed;
		}
	}
}


.lds-ring-wrapper {
	width: 100%;
	height: 100%;
	background-color: #E8E8E8;
	display: flex;
	justify-content: center;
	align-items: center;
	.lds-ring {
		display: inline-block;
		position: relative;
		width: 64px;
		height: 64px;
		div {
			box-sizing: border-box;
			display: block;
			position: absolute;
			width: 51px;
			height: 51px;
			margin: 6px;
			border: 6px solid #4F8AFF;
			border-radius: 50%;
			animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
			border-color: #4F8AFF transparent transparent transparent;
		}

		div:nth-child(1) {
			animation-delay: -0.45s;
		}

		div:nth-child(2) {
			animation-delay: -0.3s;
		}

		div:nth-child(3) {
			animation-delay: -0.15s;
		}

		@keyframes lds-ring {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	}
}

.dc_settings_form, .dc_pdf_form {
	label {
		display: block;
		font-weight: bold;
		margin: 0 0 3px;
		padding: 0;
	}
	.form-control {
		margin: 0;
		padding: 15px 12px;
		input {
			padding: 3px 5px;
			margin: 0;
			font-size: 14px;
			line-height: 1.4;
			height: 28px;
			&[name="EndpointUrl"] {
				width: 100%;
			}
		}
		&.save {
			border-top: 1px solid #ccc;
			text-align: right
		}
		.dc_file_preview {
			font-size: 1.1em;
			font-weight: bold;
			display: inline;
			margin-left: 20px;
		}
	}
}
